---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Proyectos from '../components/Proyectos.astro';
import FAQ from '../components/FAQ.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<Layout title="ZenithStudio | Diseño, Desarrollo & E-Commerce">
  <Navbar />
  <main>
    <Hero />
    <Servicios />
    <Tecnologias />
    <Proyectos />
    <FAQ />
    <Contacto />
  </main>
  <Footer />
  <WhatsAppButton />
</Layout>
